<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.2"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
    <!-- Define persistence unit -->

    <persistence-unit name="my-persistence-unit">
        <!--<prop key="hibernate.default_schema">SCHEMA_NAME</prop>-->
        <class>com.example.test_task.model.PopulationmainEntity</class>
        <properties>
            <property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/population"/>
            <property name="hibernate.connection.driver_class" value="org.postgresql.Driver"/>
            <property name="openjpa.ConnectionURL" value="jdbc:postgresql://localhost:5432/population"/>
            <property name="openjpa.ConnectionDriverName" value="org.postgresql.Driver"/>
            <property name="eclipselink.jdbc.url" value="jdbc:postgresql://localhost:5432/population"/>
            <property name="eclipselink.jdbc.driver" value="org.postgresql.Driver"/>
            <property name="hibernate.jdbc.lob.non_contextual_creation" value="true"/>
        </properties>
    </persistence-unit>

</persistence>